<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="FATAL">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <JsonLayout properties="true" stacktraceAsString="true" compact="true" includeTimeMillis="true"
                        eventEol="true">
                <KeyValuePair key="logTime" value="$${date:dd-MM-yyyy'T'HH:mm:ss z}"/>
            </JsonLayout>
        </Console>

    </Appenders>
    <Loggers>
        <Root level="INFO">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>
